langchain-huggingface
langchain-text-splitters
https://github.com/hyperskill/hs-test-python/archive/release.tar.gz
chromadb
langchain-chroma
langchain-community
langchain-core
langchain-groq
python-dotenv
